package question

templ Explain(expl string){
    <div class="mx-auto p-2">
            <p>{ expl }</p><br/>
            <form action="/" method="post">
                <input type="submit" value="Next"></input>
            </form>
    </div>
}