package question

templ Explain(expl string){
    <div>
            <p>{ expl }</p><br/>
            <form action="/" method="post">
                <input type="submit" value="Next"></input>
            </form>
    </div>
}